<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="<%= projectDescription %>">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Disable tap highlight on IE -->
	<meta name="msapplication-tap-highlight" content="no">
	<title><%= projectName %></title>
	<!-- Add to homescreen -->
	<link rel="manifest" href="manifest.json">
	<!-- Fallback to homescreen for Chrome <39 on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="<%= projectName %>">
	<link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="<%= projectName %>">
	<link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#656970">
	<meta name="msapplication-config" content="none">

	<!-- Define the toolbar color (Android): http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android -->
	<!-- You can customize the default -->
	<meta name="theme-color" content="#656970">
	<link rel="canonical" href="<%= projectURL %>">

	<!-- Stylesheets -->
	<!-- build:css-vendor -->
	<link rel="stylesheet" href="styles/vendor.css">
	<!-- endbuild -->
	<!-- build:css-bundle -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<base href="/">
</head>
<body>
	<app>
		Loading ...
	</app>

	<!--
        Angular 2 polyfills (zone.js, reflect-metadata, ...) must be loaded BEFORE SystemJS
    -->
	<!-- inline node_modules/angular2/bundles/angular2-polyfills.js -->
	<script inline src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
	
	<!-- build:js-app -->
	<!-- for production, this is all replaced by a minified bundle -->
	<script src="jspm_packages/system.src.js"></script>
	<script src="jspm.conf.js"></script>
	<script>
		System.import('core/boot').catch(console.error.bind(console));
	</script>
	<!-- endbuild -->
</body>
</html>
