# Project specific
dist
.tmp
*.log
*.map
!typings
typings/*
!typings/tsd.d.ts
!typings/typescriptApp.d.ts
!typings/custom.d.ts

# NPM
node_modules

# JSPM
jspm_packages

# Windows
Desktop.ini

# JetBrains IDEs
*.iml
.idea/
.webstorm/

# OSX
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon

# Sublime text
.sublime-gulp.cache
